include ./layouts/header.jade

div.container-fluid.page-wrap
	div.row
		div.col-md-3
		div.col-md-6
			h1.Title!= message
	div.row
		div.col-md-3
		div.col-md-6
			table(border='1').table
				thead
					tr
						th #ID
						th start
						th end
						th schedule
				tbody(id="mng_batches_tbl")
					each batch, i in batches
						tr
							td= batch.batch_id
							td= batch.start
							td= batch.end
							td= batch.schedule
	div.row
		div.col-md-3
		div.col-md-6
			dov.row
				div.col-md-6
					input(type="button" value="View Ads" id="mng_view_ads")
				div.col-md-6
					input(type="button" value="Delete" id="mng_batch_del")

	div.row
		div.col-md-3
		div.col-md-6
			table(border='1').table
				thead
					tr
						th #ID
						th start
						th end
						th schedule
				tbody
					each batch, i in batches
						tr
							td= batch.batch_id
							td= batch.start
							td= batch.end
							td= batch.schedule
	div.row
		div.col-md-3
		div.col-md-6
			a(href="/addBatch") Add Batch
	
	div(id="dialog_batch" style="display:none")
		p Do you want to delete really?

	div.row(id="carouselDiv", style="display:none; position: absolute; top:130px; left:300px; background-color:white")
		div(id="adsCarousel" class = "carousel slide")
			ol(class = "carousel-indicators")
				each batch, i in batches
					li(data-target="#adsCarousel", data-slide-to=i, class="active")

			div(class = "carousel-inner")
				each batch, i in batches
					div(class = "item")
						img(src = batch.schedule, style="width:800px;height:500px")

			a(class = "carousel-control left" href = "#adsCarousel" data-slide = "prev") &lsaquo;
			a(class = "carousel-control right" href = "#adsCarousel" data-slide = "next") &rsaquo;
			input(type="button" value="Close" id="carouse_close" style="float:right")

include ./layouts/footer.jade

script(src="/js/pageCtrl/manage_batch_in.js")
